# Portfolio Optimization using MOPSO

## Problem Statement
Assume that you are a financial consultant and you have to create a portfolio for your client. You have two objectives: 
1. Maximize the expected return of the portfolio
2. Minimize the risk associated with the portfolio <br>

In the attached file, the data of 20 stocks from 4 different industries is provided. <br>
Since diversification helps in minimizing risk, two constraints are imposed on the weights associated with each stock in the portfolio. First, to reduce emphasize on a particular stock, each stock must account for no more than 15% of the total portfolio. In addition, the proportion of an industry must not exceed 40% of the total portfolio.<br> 
Use the MOPSO algorithm to make appropriate investment suggestion. Show the transitions of Pareto fronts over iterations in a YouTube video.<br>
<a href="https://drive.google.com/open?id=1qLS5UUMQ6RlpyVfpEW0ZWbFOQi331j8q&authuser=0">Stock_Information.xls</a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
def read_csv(filpath):
    """
    Reads the 3 tables from the given fil path and returns as 3 pandas data frame, 
    for the above given stock information
    """
    df = pd.read_csv("./Stock_information - Sheet1.csv")
    industry = df.iloc[:5, :2]
    stocksData = df.iloc[7:10,:]
    covarianceMatrix = df.iloc[15:,:]
    return (industry, stocksData, covarianceMatrix)

In [4]:
df = pd.read_csv("./Stock_information - Sheet1.csv")

In [5]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Industry,Stocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A,"A1, A2, A3, A4, A5",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B,"B1, B2, B3, B4, B5",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C,"C1, C2, C3, C4, C5",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,D,"D1, D2, D3, D4, D5",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Stocks,A1,A2,A3,A4,A5,B1,B2,B3,B4,...,C1,C2,C3,C4,C5,D1,D2,D3,D4,D5
8,Expected Return (in %),9.59,5.47,1.38,1.49,2.57,8.40,2.54,8.14,2.43,...,3.49,1.96,2.51,6.16,4.73,3.51,8.30,5.85,5.49,9.17
9,Variance (sigma^2),1.25,5.00,5.59,0.68,4.24,7.10,2.10,1.87,6.71,...,1.21,1.84,5.26,4.50,2.33,4.97,5.72,2.24,3.29,2.89
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,A1,A2,A3,A4,A5,B1,B2,B3,B4,...,C1,C2,C3,C4,C5,D1,D2,D3,D4,D5
16,A1,1.00,0.74,0.23,0.08,0.25,-0.37,0.72,-0.05,0.50,...,0.89,0.20,0.68,-0.20,0.79,-0.53,-0.59,0.58,-0.75,0.61
17,A2,0.74,1.00,-0.81,-0.17,0.71,0.57,-0.44,-0.71,-0.98,...,0.90,-0.67,-0.15,-0.34,-0.56,-0.59,0.24,0.62,0.23,0.47
18,A3,0.23,-0.81,1.00,0.80,0.79,0.20,0.06,0.90,-0.04,...,0.46,0.27,0.08,0.11,0.93,-0.23,-0.65,0.80,-0.28,0.14
19,A4,0.08,-0.17,0.80,1.00,-0.30,-0.06,0.04,0.76,-0.49,...,-0.23,0.68,0.05,-0.40,-0.13,0.18,-0.42,0.08,-0.27,-0.98
20,A5,0.25,0.71,0.79,-0.30,1.00,-0.40,0.13,-0.12,-0.38,...,-0.91,0.56,-0.62,-0.26,0.56,-0.46,-0.96,0.63,-0.86,0.43
21,B1,-0.37,0.57,0.20,-0.06,-0.40,1.00,-0.33,0.66,0.93,...,0.16,-0.47,-0.83,-0.30,0.05,0.24,0.40,0.41,0.73,-0.10
22,B2,0.72,-0.44,0.06,0.04,0.13,-0.33,1.00,-0.34,-0.58,...,0.12,-0.37,-0.07,0.26,-0.33,0.60,0.90,-0.91,-0.08,0.31
23,B3,-0.05,-0.71,0.90,0.76,-0.12,0.66,-0.34,1.00,0.04,...,-0.28,-0.63,-0.93,0.32,-0.13,-0.79,0.49,-0.70,-0.84,0.50
24,B4,0.50,-0.98,-0.04,-0.49,-0.38,0.93,-0.58,0.04,1.00,...,0.76,-0.10,-0.13,0.98,0.43,0.45,0.51,-0.53,0.80,0.60
25,B5,0.97,0.07,-0.25,0.41,0.89,-0.23,0.38,0.20,0.55,...,0.24,-0.34,0.11,0.88,0.83,0.29,0.08,-0.50,-0.43,-0.94
26,C1,0.89,0.90,0.46,-0.23,-0.91,0.16,0.12,-0.28,0.76,...,1.00,-0.44,0.27,-0.29,0.78,-0.05,-0.43,-0.65,0.22,0.55
27,C2,0.20,-0.67,0.27,0.68,0.56,-0.47,-0.37,-0.63,-0.10,...,-0.44,1.00,-0.93,-0.61,-0.73,0.86,-0.51,-0.52,0.32,0.13
28,C3,0.68,-0.15,0.08,0.05,-0.62,-0.83,-0.07,-0.93,-0.13,...,0.27,-0.93,1.00,0.83,-0.76,-0.80,-0.42,-0.44,-0.59,-0.84
29,C4,-0.20,-0.34,0.11,-0.40,-0.26,-0.30,0.26,0.32,0.98,...,-0.29,-0.61,0.83,1.00,0.78,0.19,0.92,0.90,0.91,-0.49
30,C5,0.79,-0.56,0.93,-0.13,0.56,0.05,-0.33,-0.13,0.43,...,0.78,-0.73,-0.76,0.78,1.00,-0.53,-0.53,-0.30,0.33,-0.73
31,D1,-0.53,-0.59,-0.23,0.18,-0.46,0.24,0.60,-0.79,0.45,...,-0.05,0.86,-0.80,0.19,-0.53,1.00,0.07,-0.40,0.08,0.12
32,D2,-0.59,0.24,-0.65,-0.42,-0.96,0.40,0.90,0.49,0.51,...,-0.43,-0.51,-0.42,0.92,-0.53,0.07,1.00,-0.19,0.73,0.08
33,D3,0.58,0.62,0.80,0.08,0.63,0.41,-0.91,-0.70,-0.53,...,-0.65,-0.52,-0.44,0.90,-0.30,-0.40,-0.19,1.00,0.11,-0.86
34,D4,-0.75,0.23,-0.28,-0.27,-0.86,0.73,-0.08,-0.84,0.80,...,0.22,0.32,-0.59,0.91,0.33,0.08,0.73,0.11,1.00,0.97
35,D5,0.61,0.47,0.14,-0.98,0.43,-0.10,0.31,0.50,0.60,...,0.55,0.13,-0.84,-0.49,-0.73,0.12,0.08,-0.86,0.97,1.00

In [7]:
industry = df.iloc[:5, :2]
stocks_data = df.iloc[7:10,:]
covarianceMatrix = df.iloc[15:,:]

In [8]:
industry

  Unnamed: 0          Unnamed: 1
0   Industry              Stocks
1          A  A1, A2, A3, A4, A5
2          B  B1, B2, B3, B4, B5
3          C  C1, C2, C3, C4, C5
4          D  D1, D2, D3, D4, D5

In [12]:
stocks_data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
7,Stocks,A1,A2,A3,A4,A5,B1,B2,B3,B4,...,C1,C2,C3,C4,C5,D1,D2,D3,D4,D5
8,Expected Return (in %),9.59,5.47,1.38,1.49,2.57,8.40,2.54,8.14,2.43,...,3.49,1.96,2.51,6.16,4.73,3.51,8.30,5.85,5.49,9.17
9,Variance (sigma^2),1.25,5.00,5.59,0.68,4.24,7.10,2.10,1.87,6.71,...,1.21,1.84,5.26,4.50,2.33,4.97,5.72,2.24,3.29,2.89

In [16]:
covarianceMatrix

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
15,NaN,A1,A2,A3,A4,A5,B1,B2,B3,B4,...,C1,C2,C3,C4,C5,D1,D2,D3,D4,D5
16,A1,1.00,0.74,0.23,0.08,0.25,-0.37,0.72,-0.05,0.50,...,0.89,0.20,0.68,-0.20,0.79,-0.53,-0.59,0.58,-0.75,0.61
17,A2,0.74,1.00,-0.81,-0.17,0.71,0.57,-0.44,-0.71,-0.98,...,0.90,-0.67,-0.15,-0.34,-0.56,-0.59,0.24,0.62,0.23,0.47
18,A3,0.23,-0.81,1.00,0.80,0.79,0.20,0.06,0.90,-0.04,...,0.46,0.27,0.08,0.11,0.93,-0.23,-0.65,0.80,-0.28,0.14
19,A4,0.08,-0.17,0.80,1.00,-0.30,-0.06,0.04,0.76,-0.49,...,-0.23,0.68,0.05,-0.40,-0.13,0.18,-0.42,0.08,-0.27,-0.98
20,A5,0.25,0.71,0.79,-0.30,1.00,-0.40,0.13,-0.12,-0.38,...,-0.91,0.56,-0.62,-0.26,0.56,-0.46,-0.96,0.63,-0.86,0.43
21,B1,-0.37,0.57,0.20,-0.06,-0.40,1.00,-0.33,0.66,0.93,...,0.16,-0.47,-0.83,-0.30,0.05,0.24,0.40,0.41,0.73,-0.10
22,B2,0.72,-0.44,0.06,0.04,0.13,-0.33,1.00,-0.34,-0.58,...,0.12,-0.37,-0.07,0.26,-0.33,0.60,0.90,-0.91,-0.08,0.31
23,B3,-0.05,-0.71,0.90,0.76,-0.12,0.66,-0.34,1.00,0.04,...,-0.28,-0.63,-0.93,0.32,-0.13,-0.79,0.49,-0.70,-0.84,0.50
24,B4,0.50,-0.98,-0.04,-0.49,-0.38,0.93,-0.58,0.04,1.00,...,0.76,-0.10,-0.13,0.98,0.43,0.45,0.51,-0.53,0.80,0.60
25,B5,0.97,0.07,-0.25,0.41,0.89,-0.23,0.38,0.20,0.55,...,0.24,-0.34,0.11,0.88,0.83,0.29,0.08,-0.50,-0.43,-0.94
26,C1,0.89,0.90,0.46,-0.23,-0.91,0.16,0.12,-0.28,0.76,...,1.00,-0.44,0.27,-0.29,0.78,-0.05,-0.43,-0.65,0.22,0.55
27,C2,0.20,-0.67,0.27,0.68,0.56,-0.47,-0.37,-0.63,-0.10,...,-0.44,1.00,-0.93,-0.61,-0.73,0.86,-0.51,-0.52,0.32,0.13
28,C3,0.68,-0.15,0.08,0.05,-0.62,-0.83,-0.07,-0.93,-0.13,...,0.27,-0.93,1.00,0.83,-0.76,-0.80,-0.42,-0.44,-0.59,-0.84
29,C4,-0.20,-0.34,0.11,-0.40,-0.26,-0.30,0.26,0.32,0.98,...,-0.29,-0.61,0.83,1.00,0.78,0.19,0.92,0.90,0.91,-0.49
30,C5,0.79,-0.56,0.93,-0.13,0.56,0.05,-0.33,-0.13,0.43,...,0.78,-0.73,-0.76,0.78,1.00,-0.53,-0.53,-0.30,0.33,-0.73
31,D1,-0.53,-0.59,-0.23,0.18,-0.46,0.24,0.60,-0.79,0.45,...,-0.05,0.86,-0.80,0.19,-0.53,1.00,0.07,-0.40,0.08,0.12
32,D2,-0.59,0.24,-0.65,-0.42,-0.96,0.40,0.90,0.49,0.51,...,-0.43,-0.51,-0.42,0.92,-0.53,0.07,1.00,-0.19,0.73,0.08
33,D3,0.58,0.62,0.80,0.08,0.63,0.41,-0.91,-0.70,-0.53,...,-0.65,-0.52,-0.44,0.90,-0.30,-0.40,-0.19,1.00,0.11,-0.86
34,D4,-0.75,0.23,-0.28,-0.27,-0.86,0.73,-0.08,-0.84,0.80,...,0.22,0.32,-0.59,0.91,0.33,0.08,0.73,0.11,1.00,0.97
35,D5,0.61,0.47,0.14,-0.98,0.43,-0.10,0.31,0.50,0.60,...,0.55,0.13,-0.84,-0.49,-0.73,0.12,0.08,-0.86,0.97,1.00

In [12]:
a = np.zeros((3))
a.reshape(1,-1)

array([[0., 0., 0.]])

In [33]:
#cost_functions
def evalExpectedReturn(weights, expectedReturns):
    """
    Evaluates the expected return of the portfolio using the given weights and expected returns
    of each asset
    Arg:
        weights (array) - array of size (1, nAssets) of weight assosciated with each asset
        expected return (array) - array of size (1, nAssests) of expected return of each asset
    Return:
        Expected return of the portfolio (float)
    """
    
    weights = np.array(weights).reshape(1,-1)
    expectedReturns = np.array(expectedReturns).reshape(1,-1)
    return np.dot(expectedReturns, weights.T).squeeze() + 0 #+0 to convert to real no. instead of array

In [38]:
#sanity check
eR = np.float32(stocks_data.iloc[1:2, 1:])
weights = np.ones((eR.shape))
print(evalExpectedReturn(weights, eR), np.sum(eR))

102.46999967098236 102.46999

Both the values are same hence correct

In [64]:
def evalRisk(weights, variance, covariance):
    """
    Returns the risk associated with the portfolio (float)
    Args:
        weights - for each stock, shape
        variance - for each stock
        covariance -for all stock combination in format   A1..A5 B1..D1..D5
                                                        A1 .   .
                                                        .
                                                        .
                                                        .
                                                        D5
    """
    weights, variance = np.array(weights).reshape(1,-1), np.array(variance).reshape(1,-1)
    weightSqrd = np.power(weights, 2)
    
    weightsRepeated1 = np.repeat(weights, weights.shape[1],0)
    weightsRepeated2 = np.repeat(weights.T, weights.shape[1],1)
    
    sdRepeated1 = np.repeat(np.sqrt(variance), variance.shape[1], 0)
    sdRepeated2 = np.repeat(np.sqrt(variance.T), variance.shape[1], 1)
    
    riskSquared = np.dot(weightSqrd, variance.T).squeeze() + np.sum(covariance * weightsRepeated1 *
                                                                    weightsRepeated2 * sdRepeated1 *
                                                                    sdRepeated2)
    return riskSquared**0.5

In [65]:
#sanity check
weights = np.ones((1,5))
variance = np.ones((1,5))
covar = np.ones((5,5))
evalRisk(weights, variance, covar)

5.477225575051661

should be equal to 30^0.5 = 5.477225575051661

In [67]:
#constraints
def applyConstraint(weights, constraint=0.15):
    """
    Applies the two constraints to the weights and modifies them, as mentioned in the problem
    """
    total = np.sum(weights)
    weights = np.minimum(weights, constraint*total)

In [71]:
np.minimum?